//- дані карточок
-
	let data = [
		{
			img: 'post_item/item1.jpg',
			title: 'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises',
			name: 'Derek Zimmer',
			date: ' | JUL 25, 2018',
			link: [
							'Governments',
							'Networking',
							'Open Source',
							'Privacy',
							'Security'
						],
			comment: '0',
		},
		{
			img: 'post_item/item2.jpg',
			title: 'How to get cheaper flights using a VPN',
			name: 'Jayson',
			date: ' |  JUL 24, 2018',
			link: [
							'Guides'
						],
			comment: '0',
		},
		{
			img: 'post_item/item3.jpg',
			title: 'Net Neutrality was repealed, but the fight is far from over',
			name: 'Chris Miller',
			date: ' |  JUL 22, 2018',
			link: [
							'Governments',
							'Net Neutrality' ,
							'News'
						],
			comment: '0',
		},
		{
			img: 'post_item/item1.jpg',
			title: 'The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises',
			name: 'Derek Zimmer',
			date: ' |  JUL 25, 2018',
			link: [
							'Governments',
							'Networking',
							'Open Source',
							'Privacy',
							'Security'
						],
			comment: '0',
		},
		{
			img: 'post_item/item2.jpg',
			title: 'How to get cheaper flights using a VPN',
			name: 'Jayson',
			date: ' |  JUL 24, 2018',
			link: [
							'Guides'
						],
			comment: '0',
		},
		{
			img: 'post_item/item3.jpg',
			title: 'Net Neutrality was repealed, but the fight is far from over',
			name: 'Chris Miller',
			date: ' |  JUL 22, 2018',
			link: [
							'Governments',
							'Net Neutrality' ,
							'News'
						],
			comment: '0',
		}
	]
//- карточка товару

mixin post_card(data)
	.post_card
			a.post_card__image(href="#")
				+picture({
					img: data.img,
					class: 'post_card__image_in',
					img_class: 'post_card__image_img',
					alt: 'Item image',
				})
			.post_card__wrapper
				a.post_card__title(href="#")= data.title
				.post_card__user
					a.post_card__user_name(href="#")= data.name
					span.post_card__user_date.post_card__user_date--color= data.date
				ul.post_card__list
					each links in data.link
						li.post_card__list_item
							a.post_card__list_link(href="#")= links
				a.post_card__comment(href="#" comment)
					span.post_card__comment_number= data.comment
					span.post_card__comment_icon
						+icon( 'comment', 'icon--size_mod')
